.counter {

    padding: 15px;
    .counterNumber {
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        color: white;
        font-size: 25px;
        background-color: #3874cb;
        .counterNumberMax {
            color: #a6a6a6;
        }
    }

    .counterButtons {
        border-radius: 10px;
        margin: 15px;
        padding: 15px;
        border: 2px solid #3874cb;

    }
}




