body {
    font-size: 55px;
    background-color: cadetblue;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    margin: 30px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid deepskyblue;
}
